node_modules
dist
build
.turbo
.next
.vercel
.DS_Store
*.log
*.lock
*.tmp
.env
.env.*
backend/coverage
frontend/coverage
backend/.cache
frontend/.cache
backend/.vite
frontend/.vite
backend/.parcel-cache
frontend/.parcel-cache
pnpm-lock.yaml
yarn.lock
package-lock.json
